<div class='row'>
  <div class='col-md-3'>
    <!-- SideBar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class='col-md-9'>
    <div class="container">
      <!-- INPUTS PARA RETORNAR VALORES DA NOTA FISCAL -->
      <br>
      <div class="container">
        <h2>Detalhamento Cupom de Vendas </h2>
      </div>
      <br>
      <div class='container'>
        <form #formDF="ngForm" novalidate>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="idDF">ID NF</label>
              <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="ID Cupom" disabled> -->
              <input name="idDF" ngModel #idDF="ngModel" class="form-control" placeholder="ID Cupom"
                [(ngModel)]='request.idDF' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="Cliente">Cliente</label>
              <input name="Cliente" ngModel #nmCliente="ngModel" class="form-control" id="inputPassword4"
                placeholder="Cliente" [(ngModel)]='request.cliente' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="fornecedor">Fornecedor</label>
              <input name="fornecedor" ngModel #nm_razao_social="ngModel" class="form-control" id="inputPassword4"
                placeholder=" Fornecedor" [(ngModel)]='request.fornecedor' disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="idFilial">ID Filial</label>
              <input name="idFilial" ngModel #idFilial="ngModel" class="form-control" id="inputPassword4"
                placeholder="####" [(ngModel)]='request.idFilial' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="nmFilial">Filial</label>
              <input name="nmFilial" ngModel #nmFilial="ngModel" class="form-control" id="inputPassword4"
                placeholder="Nome Filial" [(ngModel)]='request.nmFilial' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="nrNF">Número NF</label>
              <input name="nrNF" ngModel #nr_nf="ngModel" class="form-control" id="inputPassword4" placeholder="45784"
                [(ngModel)]='request.nr_nf' disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="dtEmissao">Data Emissão</label>
              <input name="dtEmissao" ngModel #dt_emissao="ngModel" class="form-control" id="inputEmail4"
                placeholder="___/___/___" [(ngModel)]='request.dt_emissao' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="dt_entrada">Data Entrada</label>
              <input name="dt_entrada" ngModel #dt_entrada="ngModel" class="form-control" id="inputEmail4"
                placeholder="___/___/___" [(ngModel)]='request.dt_entrada' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="nr_serie">Número Série</label>
              <input name="nr_serie" ngModel #nr_serie="ngModel" class="form-control" id="inputEmail4"
                placeholder="######" [(ngModel)]='request.nr_serie' disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="dsOperacao">Tipo de NF</label>
              <input name="dsOperacao" ngModel #dsOperacao="ngModel" class="form-control" id="inputEmail4"
                placeholder="Tipo de NF" [(ngModel)]='request.operacao' disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="chaveAcesso">Chave de acesso</label>
              <input name="chaveAcesso" ngModel #nr_chave_acesso="ngModel" class="form-control" id="inputEmail4"
                placeholder="Chave de acesso" [(ngModel)]='request.nr_chave_acesso' disabled>
            </div>
            <!-- <div class="form-group col-md-4">
                <label for="pagamento">Forma de Pagamento</label>
                <input name="pagamento" ngModel #dsTipoPagamento="ngModel" class="form-control" id="inputPassword4"
                  placeholder="Forma de Pagamento" [(ngModel)]='request.pagamento[0].dsTipoPagamento' disabled>
              </div> -->
              
              <div class="form-group col-md-4">
                  <label for="dsOperacao">Forma de Pagamento</label>
                  <div class="dropdown">
                    <button class="form-control dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                      <tr *ngFor='let pagamento of request.pagamento'>
                        <a class="dropdown-item" *ngIf="pagamento"><b>Pagamento: </b>{{pagamento.dsTipoPagamento}}</a>
                        <a class="dropdown-item" *ngIf="pagamento"><b>Valor: </b> R$ {{pagamento.vlPagamento}}</a>
                        <a class="dropdown-item">&nbsp;</a>
                      </tr>
                    </div>
                  </div>
            </div>


          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="valor">Valor Total</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">R$</span>
                </div>
                <input name="valor" ngModel #dsTipoPagamento="ngModel" class="form-control" id="inputPassword4"
                  placeholder="Valor total" [(ngModel)]='request.vl_documento_fiscal' disabled>
              </div>
            </div>
          </div>


          <div class="form-row justify-content-end">
            <div class="form-group col-md-5">
            </div>
            <div class="form-group col-md-5">
            </div>


            <!-- TABLE ITENS -->
            <div class="container">
                <h3>Itens do documento fiscal</h3>
            </div>
            <br><br>
            <div class="container">
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nome Produto</th>
                        <th scope="col">Valor Item</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">% ICMS</th>
                        <th scope="col">Valor ICMS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let notas of request.itens'>
                            <td>{{ notas.nmProduto }}</td>
                            <td>R$ {{ notas.vlItem }}</td>
                            <td>{{ notas.qtItem }}</td>
                            <td>{{ notas.pcIcms }} %</td>
                            <td>R$ {{ notas.vlIcms }}</td>
                          </tr>

                    </tbody>
                </table>
                </div>
            </div>


            <div class="form-group col-md-2">
              <a routerLink='/cupomDeVenda'> <button type="reset" class="btn btn-default botaoConfirmar">Voltar</button>
              </a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
