<div class='row'>
  <div class='col-md-3'>
    <!-- SideBar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class='col-md-9'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Dashboard</h2>
      </div>
      <br>

      <div class='row marginTopMain semMarginRightMain justify-content-around'>
        <div class='col-md-11 bordaDash'>
          <div class='row tituloQuadros'>QUANTIDADE DE PRODUTO</div>
          <app-my-bar-chart-one></app-my-bar-chart-one>
        </div>
      </div>
      <div class='row'>
      </div>
    </div>
  </div>
</div>