<br>
<div class="container">
    <h2>Dashboard</h2>
</div>
<br>

<div class='row marginTopMain semMarginRightMain justify-content-around'>
    <div class='col-md-5 bordaDash'>
        <div class='row tituloQuadros'>DROGASIL</div>
    </div>
    <div class='col-md-5 bordaDash'>
        <div class='row tituloQuadros'>DROGASIL</div>
    </div>
</div>
<div class='row marginTopMain semMarginRightMain justify-content-around'>
    <div class='col-md-11 bordaDash'>
        <div class='row tituloQuadros'>PERFOMANCE</div>
    </div>
</div>
<div class='row marginTopMain semMarginRightMain justify-content-around'>
    <div class='col-md-11 bordaDash'>
        <div class='row tituloQuadros'>VOLUME</div>
    </div>
</div>