<br>
<div class="container">
  <h2>Cadastro de Fornecedor</h2>
</div>
<br>
<form>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-5">
      <label for="input1">Número de Identificação</label>
      <input type="email" class="form-control" id="input1" placeholder="">
    </div>
    <div class="form-group col-md-5">
      <label for="input2">CNPJ</label>
      <input type="password" class="form-control" id="input2" placeholder="">
    </div>
  </div>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-5">
      <label for="input3">Nome Fantasia</label>
      <input type="email" class="form-control" id="input3" placeholder="">
    </div>
    <div class="form-group col-md-5">
      <label for="input4">Razão Social</label>
      <input type="password" class="form-control" id="input4" placeholder="">
    </div>
  </div>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-5">
      <label for="input5">Denominação Social</label>
      <input type="email" class="form-control" id="input5" placeholder="">
    </div>
    <div class="form-group col-md-5">
      <label for="input6">Número de Inscrição</label>
      <input type="password" class="form-control" id="input6" placeholder="">
    </div>
  </div>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-11">
      <label for="input7">Endereço</label>
      <input type="email" class="form-control" id="input7" placeholder="">
    </div>
  </div>


  <div class="form-row justify-content-around">
    <div class="form-group col-md-5">
      <label for="input12">Bairro</label>
      <input type="email" class="form-control" id="input12" placeholder="">
    </div>
    <div class="form-group col-md-5">
      <label for="input13">Cidade</label>
      <input type="password" class="form-control" id="input13" placeholder="">
    </div>
  </div>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-5">
      <label for="input14">E-mail</label>
      <input type="email" class="form-control" id="input14" placeholder="">
    </div>
    <div class="form-group col-md-5">
      <label for="input15">Telefone</label>
      <input type="password" class="form-control" id="input15" placeholder="">
    </div>
  </div>
  <div class="form-group col-md-5">
    <button type="submit" class="btn btn-default botaoConfirmar">Confirmar</button>
    <button type="reset" class="btn btn-default botaoCancelar">Cancelar</button>
  </div>
</form>
