<form class="form-signin">
    <div class="text-center">
      <img class="mb-4 text-center" src="../" alt="" height="120">
    </div>
    <br>
    <label for="inputEmail">Login</label>
    <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Username" required autofocus>
    <label for="inputPassword">Senha</label>
    <input type="password" id="inputPassword" class="form-control mb-4" placeholder="***********" required>
    <div>
      <a class="btn btn-lg btn-success btn-lg  mr-sm-4" href="telaInicial.html"
        role="button">Entrar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; RDevs Abastecimento e Financeiro 2020</p>
  </form>