<div class='row'>
  <div class='col-md-3'>
    <!-- SideBar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class='col-md-9'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Relatório Gerencial</h2>
      </div>
      <br>

      <div class="container">
        <form>
          <div class="row col-6">
            <div class="form-row align-items-center">
              <div class="col-md-2 col-sm-1 my-1">

                <label class="sr-only" for="inlineFormInputName">Name</label>
                <input type="text" class="form-control form-control-override" id="inlineFormInputName" maxlength="4"
                  placeholder="Cód." style="padding: 2%; text-align: center;">
              </div>
              <div class="col-sm-3 col-md-4  my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Filial</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Filial</div>
                  </div>
                  <input type="text" readonly class="form-control" id="inlineFormInputGroupUsername" placeholder="">
                </div>
              </div>
              <div class="col-4 my-1">
                <label class="sr-only" for="inlineFormInputName">Data</label>
                <input type="date" class="form-control" id="inlineFormInputName" style="width: 100%;">
              </div>
              <div class="col-2 my-1">
                <button type="submit" class="btn btn-default botaoConfirmar"
                  style='margin-left: -5px;'>Procurar</button>
              </div>
            </div>
          </div>
        </form>


        <div class="row justify-content-between">
          <div class=' col-md-6 col-lg-6 col-sm-12'>

            <table class="table table-bordeless fixarrolagem fixarrolagem-tr">
              <thead class="thead fixarrolagem-thead">
                <tr>
                  <th scope="col" style='border: none;'>Venda por categoria</th>
                  <th scope="col" style='border: none;'></th>
                </tr>
              </thead>
              <tbody class="fixarrolagem-tbody">
                <tr>
                  <th scope="row">Monetário</th>
                </tr>
                <tr>
                  <th scope="row">Dinheiro</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Crédito</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Débito</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Cheque</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Tipo</th>

                </tr>
                <tr>
                  <th scope="row">Psicotrópico</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Antibiótico</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">MIP</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Perfumaria</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Seção</th>
                </tr>
                <tr>
                  <th scope="row">Solar</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Infantil</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Dermocosmético</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Solar</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Infantil</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Dermocosmético</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Solar</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Infantil</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Dermocosmético</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Solar</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Infantil</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
                <tr>
                  <th scope="row">Dermocosmético</th>
                  <td class="alinhar">R$ 1.312,19</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='col-md-5'>
            <table class="table table-bordeless">
              <thead class="thead fixarrolagem2-thead">
                <tr>
                  <th scope="col" style='border: none;'>Desistências</th>
                </tr>
              </thead>
              <tbody class="fixarrolagem2-tbody fixarrolagem-tbody">
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
              </tbody>

            </table>
            <table class="table table-bordeless fixarrolagem-tbody2 ">
              <thead class="thead fixarrolagem2-thead">
                <tr>
                  <th scope="col" style='border: none;'>Trocas</th>
                </tr>
              </thead>
              <tbody class="fixarrolagem2-tbody">
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
                <tr>
                  <th scope="row">Paulo Oliveira</th>
                  <td class="alinhar">R$ 10,90 &nbsp;
                    <abbr title="Visualizar"><button type="button" class="btn btn-default botaoConfirmar btn-sm"
                        style='margin: 0px;'><i class="fa fa-eye"></i></button> </abbr>
                    <abbr title="Imprimir"><button type="button" class="btn btn-default botaoCancelar btn-sm"
                        style='margin: 0px;'><i class="fa fa-print"></i></button></abbr></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">

          <form class="col-6">
            <div class="form-row" style="background-color: #29754E; width: 101%; border-radius: 10px; padding: 1%;">
              <div class="form-group col-4">
                <label for="inputText4" style="color: white;">Venda</label>
                <input type="text" readonly class="form-control" id="inputText4">
              </div>
              <div class="form-group col-4" style="color: white;">
                <label for="inputText5">Troca</label>
                <input type="text" readonly class="form-control" id="inputText5">
              </div>
              <div class="form-group col-4" style="color: white;">
                <label for="inputText6">Desistência</label>
                <input type="text" readonly class="form-control" id="inputText6">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
