<div class='row'>
  <div class='col-md-3'>
    <!-- SideBar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class='col-md-9'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Dashboard</h2>
      </div>
      <br>

      <div class='row marginTopMain semMarginRightMain justify-content-around'>
        <div class='col-md-5 bordaDash'>
          <div class='row tituloQuadros'>DROGASIL</div>
          <!-- <app-my-bar-chart-one></app-my-bar-chart-one> -->
        </div>
        <div class='col-md-5 bordaDash'>
          <div class='row tituloQuadros'>DROGASIL</div>
          <!-- <app-my-bar-chart-one></app-my-bar-chart-one> -->
        </div>
      </div>
      <div class='row marginTopMain semMarginRightMain justify-content-around'>
        <div class='col-md-11 bordaDash'>
          <div class='row tituloQuadros'>PERFOMANCE</div>
          <!-- <app-my-bar-chart-one></app-my-bar-chart-one> -->
        </div>
      </div>
      <div class='row marginTopMain semMarginRightMain justify-content-around'>
        <div class='col-md-11 bordaDash'>
          <div class='row tituloQuadros'>VOLUME</div>
          <!-- <app-my-bar-chart-one></app-my-bar-chart-one> -->
        </div>
      </div>
    </div>
  </div>
</div>
