<br>
<div class="container">
    <h2>Transferência de Produto</h2>
</div>
<br>
<div class="container">
<div class='row marginTopMain semMarginRightMain'>
    <div class='container'>
        <div class='col-md-12'>
            <form #it="ngForm" (ngSubmit)="onSubmit(it)" novalidate>
                <!-- Inicio da primeira linha-->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNomeproduto4">Operação</label>
                        <input id="cdOperacao" name="cdOperacao" class="form-control" placeholder="TRANSFERÊNCIA" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputdescricao">Centro de Distribuição</label>
                        <input id="idFilial" name="idFilial" class="form-control" placeholder="CD" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputdescricao">Filial Destino</label>
                        <input id="idFilialDestino" name="idFilialDestino" required #idFilialDestino="ngModel" class="form-control" placeholder="Insira a filial destino"
                        [(ngModel)]='request.idFilialDestino'>
                    </div>
                </div>
                <!-- fim da primeira linha-->

                <!-- Inicio da segunda linha-->
                <div class="form-row">
                    <!-- <div class="form-group col-md-4">
                        <label for="inputforn">Valor Total</label>
                        <input id="vlDocumentoFiscal" name="vlDocumentoFiscal" required #vlDocumentoFiscal="ngModel" class="form-control" placeholder="R$ 00.000"
                        [(ngModel)]='request.vlDocumentoFiscal'>
                    </div> -->
                    <div class="form-group col-md-4">
                        <label for="inputLote">Data Emissão</label>
                        <input id="dtEmissao" name="dtEmissao" required #dtEmissao="ngModel" class="form-control" placeholder="____/___/___"
                        [(ngModel)]='request.dtEmissao'>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCodProd">Data Entrada</label>
                        <input id="dtEntrada" name="dtEntrada" required #dtEntrada="ngModel" class="form-control" placeholder="____/___/___"
                        [(ngModel)]='request.dtEntrada'>
                    </div>
                </div>
                <!--Fim da terceira linha -->

                <!-- Inicio da quarta linha -->
                <br>
                <h3>Itens entrada</h3>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNomeproduto4">Número Item Documento</label>
                        <input name="nrItemDocumento" class="form-control" placeholder="01" disabled >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputdescricao">Produto</label>
                        <input name="cdProduto" required #cdProduto="ngModel" class="form-control" placeholder="00" [(ngModel)]='request.itens[0].cdProduto'>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputdescricao">Quantidade Itens</label>
                        <input name="qtItem" required #qtItem="ngModel" class="form-control" placeholder="Quantidade itens" [(ngModel)]='request.itens[0].qtItem'>
                    </div>
                </div>

                <!-- botões -->
                <button type="button" class="btn btn-default botaoConfirmar" (click)="register()">Salvar</button>
                <a href="/listaTransferenciaProduto"><button type="button" class="botaoCancelar btn btn-default botaoCancelar"
                    id="Cancelar">Cancelar</button></a>
                <!-- botões -->

            </form>
        </div>
    </div>
</div>
</div>

