                <br>
                <div class="container">
                    <h2>Cadastro de Produto</h2>
                </div>
                <br>
                <div class='container'>
                    <div class='row marginTopMain semMarginRightMain'>
                        <main>
                            <div class="form-row justify-content-between">
                                <div class="form-group col-md-3">
                                    <label for="inputNomeFant"> Nome Fantasia </label>
                                    <input id="inputNomeFant" class="form-control" placeholder="Nome Fantasia">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputFornecedor">Fornecedor</label>
                                    <input type="text" class="form-control" id="inputFornecedor"
                                        placeholder="Nome do Fornecedor">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputData"> Vencimento </label>
                                    <input type="date" value="2021-12-31" class="form-control" id="inputData">
                                </div>
                            </div>
                            <!-- fim segunda linha -->

                            <!-- inicio da terceira linha -->
                            <div class="form-row ">
                                <div style="margin-right:122px" class="form-group col-md-3">
                                    <label for="inputlote"> Lote </label>
                                    <input id="inputlote" class="form-control" placeholder="Lote">
                                </div>
                                <div style="margin-right:122px" class="form-group col-md-3">
                                    <label for="inputQtd">Quantidade</label>
                                    <input type="number" min="0" class="form-control" id="inputQtd" placeholder="0">
                                </div>
                                <div style="margin-right:36px" class="form-group col-md-1">
                                    <label for="inputValorUni"> Unidade </label>
                                    <input id="inputValorUni" class="form-control" placeholder="R$100,0">
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputValor"> Total </label>
                                    <input id="inputValor" class="form-control" placeholder="R$100,0" readonly >
                                </div>
                            </div>
                            <!-- fim da terceira linha -->

                            <!-- inicio da quanrta linha -->
                            <form>
                            <div class="form-row justify-content-between">
                                <div class="form-group col-md-3">
                                    <label for="inputalt">Altura</label>
                                    <input id="inputalt" class="form-control" placeholder="12 cm">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputLargura">Largura</label>
                                    <input type="text" class="form-control" id="inputLargura" placeholder="12 cm">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPeso">Peso</label>
                                    <input id="inputPeso" class="form-control" placeholder="300g">
                                </div>
                                <!-- fim da quanrta linha -->
                            </div>
                            </form>

                            <!-- Botões-->
                            <button type="submit" class="botaoSalvar btn btn-default botaoConfirmar"
                                id="Salvar" style='margin-left: 0px;'>Salvar</button>
                            <button type="button" class="botaoCancelar btn btn-default botaoCancelar"
                                id="Cancelar">Cancelar</button>
                            <!-- Botões-->
                        </main>
                </div>


