@import '~bootstrap/dist/css/bootstrap.min.css';
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: black;
}

.sidebar .nav-link.active {
  color: #458d68;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .95rem;
  text-transform: uppercase;
  background-color: #458d68;
  color: #ffffff
}
.sideBarSelectTouch {
  color: #fff;
  background-color: #458d68;
}
.marginTop {
  margin-top: 7px;
}

.fixed {
  position: fixed;
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-link:hover {
  background-color: #458d68;
  color: #ffffff;
}

.marginBottom {
  margin-bottom: 7px;
}

.marginTopMain {
  margin-top: 0px;
}

.semMarginRightMain {
  margin-right: 0px;
}

/*
   * Utilities
   */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

a {
  color: black;
}

.nav-item {
  background-color: #f5f5f5;
}

.paddingzin {
  padding: 5px;
}

.bloqueioDeFuncao {
  background-color: #f5f5f5;
  color: #8a8a8a;
  cursor: default;
}

.bloqueioDeFuncao:hover {
  background-color: #f5f5f5;
  color: #8a8a8a;
  cursor: default;
}

abbr {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: default !important;
}


.botaoConfirmar {
  background-color: #29754e;
  color: #fff;
  margin-left: 40px;
}

.botaoConfirmar:hover {
  background-color: #174d31;
  color: #fff;
  margin-left: 40px;
  border: 1px solid #29754e;
}

.botaoCancelar {
  background-color: #989898;
  color: #fff;
  margin-left: 10px;
}

.botaoCancelar:hover {
  background-color: #5e5e5e;
  color: #fff;
  margin-left: 10px;
}

label {
  display: initial;
}

.tituloQuadros {
  width: 200px;
  background-color: #29754e;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  justify-content: center;
}




/* Tela Inicial */

.box_img{
  height: 150px; 
  background-color: #29754E;
}

.box_img:hover{
  background-color: #1a5e3b;
}

div div div div img{
  margin-top: 8%;
  height: 110px;
  width: 110px;
}






/*
   * Main
   */

   .H{
    background-color: #29754E;
    color: white;
    padding-top: 10px;
    padding-bottom:10px;
    
}

.semBordaTitulos{
  border-top: 0px;
  border-bottom: 0px;
}

thead{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #29754E;
    border: 0px #29754E;
}

.thead-dark{    
  background-color: #29754E;
  border: none;
}

.procura :hover {
  background-color: white;
}

.alinhar{
  text-align: right;
}

tbody::-webkit-scrollbar{
  height:3rem;
  width: 0.500rem;    
}
tbody::-webkit-scrollbar-thumb{
  
  background-color: #29754E;
}
tbody::-webkit-scrollbar-button{
  height: 1%;
  background-color: white;
}
.fixarrolagem-thead, .fixarrolagem-tbody { 
  display: block;
   
}

.fixarrolagem-tbody {
  height: 26.600rem;
  overflow-y: auto;    /* Scroll vertical             */
  width:100%;
  float: left;    
  
}
.fixarrolagem-tbody2 tr {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;

}
.fixarrolagem-tbody tr {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;
}
.fixarrolagem-tbody th, .fixarrolagem-tbody td {
  border-top: none;
}


.fixarrolagem2-thead, .fixarrolagem2-tbody { 
  display: block;
   
}

table {
  border: 1px solid #CDCDCD;
  border-collapse: collapse;
 
}
.fixarrolagem2-tbody {
  height: 11.500rem;
  overflow-y: auto;    /* Scroll vertical             */
  width:100%;
  float: left;
}

 .bordaDash {
  border-radius: 5px;
  height: 170px;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
} 

.centralizarMenu {
  justify-content: space-around;
}

/* .teste {
  border-radius: 5px;
  height: 170px;
  margin-bottom: 10px;
  border: 1px solid #c8d3cd;
} */

