<div class='row'>
    <div class='col-md-3'>
      <!-- SideBar -->
      <app-sidebar></app-sidebar>
    </div>
    <div class='col-md-9'>
      <div class="container">
        <br>
        <div class="container">
          <h2>Relatório de Estoque</h2>
        </div>
        <br>
        <div class='container'>
          <div class='row marginTopMain semMarginRightMain'>
            <div class='col-md-12'>
              <div class="container">
                <form>
                  <div class="form-row">
  
                      <div class="col-sm-2 my-1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">CD Filial</div>
                        </div>
                      <input id="search" name="search" class="form-control form-control-override" 
                      [(ngModel)]='cdFilial' maxlength="4">
                    </div>
                    </div>
  
                    <div class="col-sm-4 my-1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Nome Filial</div>
                        </div>
                        <input id="search" name="search" class="form-control form-control-override" 
                      [(ngModel)]='nmFilial'>
                      </div>
                    </div>
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-default botaoConfirmar" (click)="register()">Procurar</button>
                    </div>
                  </div>
                </form>
  
                <div class="container">
                  <table class="table table-bordeless">
                    <thead style="height:10%; overflow: hidden;">
                      <tr>
                        <th scope="col" style="border: none;">CD Filial</th>
                        <th scope="col" style="border: none;">Nome Filial</th>
                        <th scope="col" style="border: none;">CD Produto</th>
                        <th scope="col" style="border: none;">Nome Produto</th>
                        <th scope="col" style="border: none;">Categoria</th>
                        <th scope="col" style="border: none;">Quantidade</th>
                        <th scope="col" style="border: none;">Base</th>
                      </tr>
                    </thead>
                    <tbody style=" height:24.400rem !important;">
                      <tr *ngFor='let estoques of request | paginate: { itemsPerPage: 8, currentPage: paginaAtual }; let i = index'>
                        <th scope="row">{{ estoques.cdFilial }}</th>
                        <td class='maxCarch'>{{ estoques.nmFilial }}</td>
                        <th scope="row" class='maxCarch'>{{ estoques.cdProduto }}</th>
                        <td class='maxCarch'>{{ estoques.nmProduto }}</td>
                        <td class='maxCarch'>{{ estoques.subCategoria }}</td>
                        <td class='maxCarch'>{{ estoques.qt_estoque }}</td>
                        <td class='maxCarch'>{{ estoques.qt_base }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                </div>
                <div class='row justify-content-center' *ngIf="loading">
                  <div class="spinner-grow text-success text-center" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  