                <br>
                <div class="container">
                    <h2>Relatório de Estoque</h2>
                </div>
                <br>
                <div class='container'>
                    <div class='row marginTopMain semMarginRightMain'>
                        <div class='col-md-12'>

                            <form>
                                <div class="form-row align-items-center centralizarMenu">
                                    <div class="col-1 my-1">

                                        <label class="sr-only" for="inlineFormInputName">Name</label>
                                        <input type="text" class="form-control form-control-override"
                                            id="inlineFormInputName" maxlength="4" placeholder="Cód."
                                            style="padding: 2%; text-align: center;">
                                    </div>
                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Filial</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Filial</div>
                                            </div>
                                            <input type="text" readonly class="form-control"
                                                id="inlineFormInputGroupUsername" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="inlineFormInputName">Data</label>
                                        <input type="date" class="form-control" id="inlineFormInputName">
                                    </div>
                                    <div class="col-auto my-1">
                                        <button type="submit" class="btn btn-default botaoConfirmar">Procurar</button>
                                    </div>
                                </div>
                            </form>

                            <div class="row justify-content-center ">
                                <table class="table table-bordeless fixarrolagem fixarrolagem-tr">
                                    <thead class="thead fixarrolagem-thead fixarrolagem-tbody" style="height:10%; overflow: hidden;">
                                        <tr>
                                            <th scope="col" style="border: none;">Código</th>
                                            <th scope="col" style="border: none;">Nome</th>
                                            <th scope="col" style="border: none;">Descrição</th>
                                            <th scope="col" style="border: none;">Quantidade</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fixarrolagem-tbody" style=" height:24.400rem !important;">
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1234</th>
                                            <td>Dorflex</td>
                                            <td>36's Comprimidos</td>
                                            <td>49</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>