<div class='row'>
  <div class='col-md-3'>
    <!-- SideBar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class='col-md-9'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Produtos recebido no CD</h2>
      </div>
      <br>
      <div class="container">
        <div class='row justify-content-start marginTabela justify-content-between'>
          <form class="form-inline comMarginBottom">
            <input id="search" name="search" class="form-control mr-sm-2"
              placeholder="Pesquisar código DF" [(ngModel)]='idDF'>
              <!-- <input id="search" name="search" class="form-control mr-sm-2"
              placeholder="Pesquisar Nome Filial" [(ngModel)]='nmFilial'> -->
              <select name="nmFilial" class="form-control mr-sm-2"
                  [(ngModel)]='nmFilial' id="nmFilial" required>
                  <option value="CD BUTANTÃ">CD BUTANTÃ</option>
                  <option value="CD EMBU">CD EMBU</option>
                  <option value="CD GUARULHOS">CD GUARULHOS</option>
                </select>
            <button class="btn btn botaoConfirmar my-2 my-sm-0" type="submit" (click)="register()">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <form class="form-inline">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            <a type='submit' routerLink='/entradaDeProduto' class='btn btn-default botaoCadastrar centralizar'>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              </svg>
              Cadastrar
            </a>
          </form>
        </div>
        <div class='row' style='text-align: center'>
          <table class="table table-hover">
            <thead class="thead-default tituloTabela">
              <tr>
                <th (click)="sort('idDocumento')" scope="col">Código DF
                  <span *ngIf="key =='idDocumento'">{{reverse ? '▲' : '▼'}}</span>
                </th>
                <th scope="col">CD</th>
                <th scope="col">Produtos</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Data Entrada</th>
                <th scope="col">Valor DF</th>
              </tr>
            </thead>
      <tbody>
        
          <tr *ngFor='let entradas of responseEntradas | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index'>
          <th scope="row"> {{ entradas.idDocumento }} </th>
          <td> {{ entradas.nmFilial }} </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-default botaoCadastrar dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Itens
              </button>
              <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                <tr *ngFor='let item of entradas.itens'>
                  <a class="dropdown-item" *ngIf="item"><b>Nome: </b>{{item.nmProduto}}</a>
                  <a class="dropdown-item" *ngIf="item"><b>Quantidade: </b>{{item.qtItem}}</a>
                  <a class="dropdown-item">&nbsp;</a>
                </tr>
              </div>
            </div>
          </td>
          <td>{{ entradas.nmFornecedor }}</td>
          <td ng-model-options="{timezone: 'America/Sao_Paulo'}" >{{ entradas.dtEntrada | date: 'dd/MM/yyyy'}}</td>
          <td>{{ entradas.vlDocumentoFiscal | currency:'R$ '}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
  <div class='row justify-content-center' *ngIf="loading">
    <div class="spinner-grow text-success text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
