.botaoConfirmar {
  background-color: #29754e;
  color: #fff;
  margin-left: 40px;
}

.botaoConfirmar:hover {
  background-color: #174d31;
  color: #fff;
  margin-left: 40px;
  border: 1px solid #29754e;
}

.botaoCancelar {
  background-color: #989898;
  color: #fff;
  margin-left: 10px;
}

.botaoCancelar:hover {
  background-color: #5e5e5e;
  color: #fff;
  margin-left: 10px;
}

