                <br>
                <div class="container">
                    <h2>Entrada de Produto</h2>
                </div>
                <br>
                <div class="container">
                <div class='row marginTopMain semMarginRightMain'>
                    <div class='container'>
                        <div class='col-md-12'>
                            <form>
                                <!-- Inicio da primeira linha-->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNomeproduto4">Operação</label>
                                        <input type="text" class="form-control" id="inputNomeproduto4"
                                            placeholder="ENTRADA">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">CD Filial</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="Filial">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">CD Fornecedor</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="Fornecedor">
                                    </div>
                                </div>
                                <!-- fim da primeira linha-->

                                <!-- Inicio da segunda linha-->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-3">
                                        <label for="inputNomeFant">Chave Acesso</label>
                                        <input type="text" class="form-control" id="inputNomeFant"
                                            placeholder="000 000 00">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputforn">Número DF</label>
                                        <input type="text" class="form-control" id="inputforn" placeholder="0000.0000.0000">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputforn">Número Série</label>
                                        <input type="text" class="form-control" id="inputforn" placeholder="00.0000.000">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputforn">Valor Total</label>
                                        <input type="text" class="form-control" id="inputforn" placeholder="R$ 00,000">
                                    </div>
                                </div>
                                <!-- Fim da segunda linha-->

                                <!--Inicio da terceira linha -->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-3">
                                        <label for="inputLote">Data Emissão</label>
                                        <input type="text" class="form-control" id="inputEmissao" placeholder="___/____/____">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputCodProd">Data Entrada</label>
                                        <input type="text" class="form-control" id="inputEntrada" placeholder="___/____/____">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputQtd">Data Abertura</label>
                                        <input type="text" class="form-control" id="inputAbertura" placeholder="___/____/____">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputQtd">Data Fechamento</label>
                                        <input type="text" class="form-control" id="inputFechamento" placeholder="___/____/____">
                                    </div>
                                </div>
                                <!--Fim da terceira linha -->


                                <!-- Inicio da quarta linha -->
                                <br>
                                <h3>Itens entrada</h3>
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNomeproduto4">Número Item Documento</label>
                                        <input type="text" class="form-control" id="inputNomeproduto4"
                                            placeholder="1">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">CD Produto</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="000">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">Quantidade Itens</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="000">
                                    </div>
                                </div>
                                <!-- fim da quarta linha -->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNomeproduto4">Porcentagem ICMS</label>
                                        <input type="text" class="form-control" id="inputNomeproduto4"
                                            placeholder="50%">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">Valor ICMS</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="R$ 00,00">
                                    </div>
                                </div>

                                <!-- botões -->
                                <button type="submit" class="botaoSalvar btn btn-default botaoConfirmar" id="Salvar">Salvar</button>
                                <button type="button" class="botaoCancelar btn btn-default botaoCancelar"
                                    id="Cancelar">Cancelar</button>
                                <!-- botões -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>

