                <br>
                <div class="container">
                    <h2>Entrada de Produto</h2>
                </div>
                <br>
                <div class="container">
                <div class='row marginTopMain semMarginRightMain'>
                    <div class='container'>
                        <div class='col-md-12'>
                            <form>
                                <!-- Inicio da primeira linha-->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-5">
                                        <label for="inputNomeproduto4">Nome Produto</label>
                                        <input type="text" class="form-control" id="inputNomeproduto4"
                                            placeholder="Nome produto">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputdescricao">Descrição</label>
                                        <input type="text" class="form-control" id="inputdescricao"
                                            placeholder="Descrição do produto">
                                    </div>
                                </div>
                                <!-- fim da primeira linha-->

                                <!-- Inicio da segunda linha-->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-5">
                                        <label for="inputNomeFant">Nome Fantasia</label>
                                        <input type="text" class="form-control" id="inputNomeFant"
                                            placeholder="Nome Fantasia">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputforn">Fornecedor</label>
                                        <input type="text" class="form-control" id="inputforn" placeholder="Forncedor">
                                    </div>
                                </div>
                                <!-- Fim da segunda linha-->

                                <!--Inicio da terceira linha -->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-4">
                                        <label for="inputLote">Lote</label>
                                        <input type="text" class="form-control" id="inputLote" placeholder="123456">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputCodProd"> Codigo Produto </label>
                                        <select id="inputCodProd" class="form-control" placeholder="1234">
                                            <option selected>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputQtd"> Quantidade</label>
                                        <input type="text" class="form-control" id="inputQtd" placeholder="500">
                                    </div>
                                </div>
                                <!--Fim da terceira linha -->


                                <!-- Inicio da quarta linha -->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-4">
                                        <label for="inputNF">Nota Fiscal</label>
                                        <input type="text" class="form-control" id="inputNF"
                                            placeholder="51 – 0807 – 01212344000127 – 55 – 001 – 000000098 – 136411778 – 1">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputCusto"> Custo </label>
                                        <input type="text" class="form-control" id="inputCusto" placeholder="R$:500,00">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputCd"> CD </label>
                                        <select type="text" class="form-control" id="inputCd">
                                            <option>Embu</option>
                                            <option>Guarulhos</option>
                                            <option>Ribeirão Preto</option>
                                            <option>Duque de Caxias</option>
                                            <option>Goiania</option>
                                            <option>São Jose dos Pinhais</option>
                                            <option>Jaboatão</option>
                                            <option>Fortaleza</option>
                                            <option>Contagem</option>
                                            <option>Salvador</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- fim da quarta linha -->

                                <!-- inicio da quinta linha -->
                                <div class="form-row justify-content-between">
                                    <div class="form-group col-md-3">
                                        <label for="inputArea">Area</label>
                                        <select type="text" class="form-control" id="inputArea" placeholder="Area">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputRua">Rua</label>
                                        <select type="text" class="form-control" id="inputRua" placeholder="Rua">
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                            <option>D</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputModulo">Modulo</label>
                                        <select type="text" class="form-control" id="inputModulo" placeholder="Modulo">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputNivel">Nivel</label>
                                        <select type="text" class="form-control" id="inputNivel" placeholder="Nivel">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- fim da quinta linha -->


                                <!-- botões -->
                                <button type="submit" class="botaoSalvar btn btn-default botaoConfirmar" id="Salvar">Salvar</button>
                                <button type="button" class="botaoCancelar btn btn-default botaoCancelar"
                                    id="Cancelar">Cancelar</button>
                                <!-- botões -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>

