                <br>
                <div class="container">
                    <h2>Recebimento de Produto</h2>
                </div>
                <br>
                <div class="container">
                <div class='row marginTopMain semMarginRightMain'>
                    <div class='container'>
                        <div class='col-md-12'>
                            <form #it="ngForm" class="needs-validation" (ngSubmit)="onSubmit(it)" novalidate>
                                <!-- Inicio da primeira linha-->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNomeproduto4">Operação</label>
                                        <input id="cdOperacao" name="cdOperacao" class="form-control" placeholder="ENTRADA" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">Destino Filial</label>
                                        <input id="idFilial" name="idFilial" class="form-control" placeholder="Centro de Distribuição" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">CD Fornecedor</label>
                                        <input id="idFornecedor" name="idFornecedor" #idFornecedor="ngModel" [(ngModel)]='request.idFornecedor'
                                        class="form-control" placeholder="Fornecedor" required>
                                        <div *ngIf="idFornecedor.errors && idFornecedor.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!idFornecedor.errors.required">
                                              Digite o fornecedor, por favor.
                                            </div>
                                          </div>

                                    </div>
                                </div>
                                <!-- fim da primeira linha-->

                                <!-- Inicio da segunda linha-->
                                <div class="form-row">

                                    <div class="form-group col-md-4">
                                        <label for="inputforn">Valor Total</label>
                                        <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                          </div>
                                        <input id="vlDocumentoFiscal" name="vlDocumentoFiscal" required #vlDocumentoFiscal="ngModel" class="form-control" placeholder=" 00.000"
                                        [(ngModel)]='request.vlDocumentoFiscal'>
                                        <div *ngIf="vlDocumentoFiscal.errors && vlDocumentoFiscal.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!vlDocumentoFiscal.errors.required">
                                              Digite um valor, por favor.
                                            </div>
                                          </div>
                                    </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="inputLote">Data Emissão</label>
                                        <input id="dtEmissao" name="dtEmissao" required #dtEmissao="ngModel" class="form-control" placeholder="____/___/___"
                                        [(ngModel)]='request.dtEmissao'>
                                        <div *ngIf="dtEmissao.errors && dtEmissao.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!dtEmissao.errors.required">
                                              Digite uma data de emissão, por favor.
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputCodProd">Data Entrada</label>
                                        <input id="dtEntrada" name="dtEntrada" required #dtEntrada="ngModel" class="form-control" placeholder="____/___/___"
                                        [(ngModel)]='request.dtEntrada'>
                                        <div *ngIf="dtEntrada.errors && dtEntrada.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!dtEntrada.errors.required">
                                              Digite uma data de entrada, por favor.
                                            </div>
                                          </div>
                                    </div>
                                    <!-- <div class="form-group col-md-3">
                                        <label for="inputQtd">Data Abertura</label>
                                        <input id="dtAbertura" name="dtAbertura" required #dtAbertura="ngModel" class="form-control" placeholder="____/___/___"
                                        [(ngModel)]='request.dtAbertura' disabled>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputQtd">Data Fechamento</label>
                                        <input id="dtFechamento" name="dtFechamento" required #dtFechamento="ngModel" class="form-control" placeholder="____/___/___"
                                        [(ngModel)]='request.dtFechamento' disabled>
                                    </div> -->
                                </div>
                                <!--Fim da terceira linha -->
                                <!-- ENTRADA DE PRODUTOS -->
                                <br>
                                <h3>Itens entrada</h3>
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNomeproduto4">Número Item Documento</label>
                                        <input name="nrItemDocumento"  class="form-control" placeholder="01" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">CD Produto</label>
                                        <input name="cdProduto" required #cdProduto="ngModel" class="form-control" placeholder="00" [(ngModel)]='request.itens[0].cdProduto'>
                                        <div *ngIf="cdProduto.errors && cdProduto.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!cdProduto.errors.required">
                                              Digite um código do produto, por favor.
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputdescricao">Quantidade Itens</label>
                                        <input name="qtItem" required #qtItem="ngModel" class="form-control" placeholder="Quantidade itens" [(ngModel)]='request.itens[0].qtItem'>
                                        <div *ngIf="qtItem.errors && qtItem.dirty" class="invalid-tooltip d-block">
                                            <div [hidden]="!qtItem.errors.required">
                                              Digite uma quantidade de itens, por favor.
                                            </div>
                                          </div>
                                    </div>
                                </div>


                                <!-- botões -->
                                <div class="form-row justify-content-around">
                                  <div class="form-group col-md-4">
                                  </div>
                                  <div class="form-group col-md-4">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <button type="submit" class="btn btn-default botaoConfirmar" (click)="register()">Confirmar</button>

                                    <a routerLink='/listaEntradaProdutos'> <button type="reset" class="btn btn-default botaoCancelar">Cancelar</button>
                                    </a>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>



